@media screen and (max-width: 430px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: url('../images/smoke.jpg') center/cover no-repeat fixed;
        opacity: 0.7;
        z-index: -1; 
    }
    #banner {
        width: 100vw;
        height: 13vh;
        border-bottom: solid 3px rgba(213, 44, 44, 0.818);
    }
    #menu {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: auto;
        cursor: pointer;
    }
    #menu:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    #dropdownMenu {
        display: none; 
        position: absolute;
        top: 100px; 
        right: 10px;
        background: rgba(255, 255, 255, 0.683);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 2.5px;
        overflow: hidden;
    }
    #dropdownMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #dropdownMenu ul li {
        padding: 10px 20px;
        border-bottom: 1.5px solid #dddddd;
    }
    #dropdownMenu ul li:last-child {
        border-bottom: none;
    }
    #dropdownMenu ul li a {
        text-decoration: none;
        color: black;
        display: block;
    }
    #dropdownMenu ul li:hover {
        background: lightgray;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        
    }
    h2 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: center;
    }
    .contact-info {
        border: 2px black solid;
        border-radius: 10px;
        background-color: #dddddd8e;
        width: 90%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
    #facebookIcon {
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    #facebookIcon:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    .contact-info a {
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        margin-top: 5px;
        text-align: center;
    }
    button {
        margin-top: 40px;
        padding: 10px 20px;
        border-radius: 5px;
        background: rgba(213, 44, 44, 0.818);
        color: white;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }
    button:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        background: rgba(255, 255, 255, 0.683);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 20px 0;
        color: black;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url('../images/smoke.jpg') center/cover no-repeat fixed;
        opacity: 0.7;
        z-index: -1; 
    }
    #banner {
        width: 100vw;
        height: 20vh;
        border-bottom: solid 3px rgba(213, 44, 44, 0.818);
    }
    #menu {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 70px;
        height: auto;
        cursor: pointer;
    }
    #menu:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    nav {
        width: 30%;
        text-align: center;
    }
    #dropdownMenu {
        display: none; 
        position: absolute;
        top: 150px; 
        right: 30px;
        background: rgba(255, 255, 255, 0.683);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 2.5px;
        overflow: hidden;
    }
    #dropdownMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #dropdownMenu ul li {
        padding: 10px 20px;
        border-bottom: 1.5px solid #dddddd;
    }
    #dropdownMenu ul li:last-child {
        border-bottom: none;
    }
    #dropdownMenu ul li a {
        text-decoration: none;
        color: black;
        display: block;
    }
    #dropdownMenu ul li:hover {
        background: lightgray;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    h2 {
        font-size: 45px;
        margin-bottom: 20px;
        text-align: center;
    }
    .contact-info {
        border: 2px black solid;
        border-radius: 10px;
        background-color: #dddddd8e;
        width: 90%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 3%;
    }
    #facebookIcon {
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    #facebookIcon:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    .contact-info a {
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
    }
    p {
        font-size: 25px;
        margin-top: 5px;
        text-align: center;
    }
    button {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 30vw;
        padding: 10px 20px;
        border-radius: 5px;
        background: rgba(213, 44, 44, 0.818);
        color: white;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }
    button:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    footer {
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: rgba(255, 255, 255, 0.683);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 10px 0;
        color: black;
    }
    footer a {
        color: black;
        text-decoration: none;
    }
    footer img {
        width: 30px;
        height: 30px;
    }
    footer a:hover {
        color: darkgray;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

@media screen and (min-width: 769px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url('../images/smoke.jpg') center/cover no-repeat fixed;
        opacity: 0.7;
        z-index: -1; 
    }
    #banner {
        width: 100vw;
        height: 30vh;
        border-bottom: solid 3px rgba(213, 44, 44, 0.818);
    }
    #menu {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 90px;
        height: auto;
        cursor: pointer;
    }
    #menu:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    nav {
        width: 20%;
        text-align: center;
    }
    #dropdownMenu {
        display: none; 
        position: absolute;
        top: 260px; 
        right: 50px;
        background: rgba(255, 255, 255, 0.683);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 2.5px;
        overflow: hidden;
    }
    #dropdownMenu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #dropdownMenu ul li {
        padding: 10px 20px;
        border-bottom: 1.5px solid #dddddd;
    }
    #dropdownMenu ul li:last-child {
        border-bottom: none;
    }
    #dropdownMenu ul li a {
        text-decoration: none;
        color: black;
        display: block;
    }
    #dropdownMenu ul li:hover {
        background: lightgray;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;      
    }
    h2 {
        font-size: 45px;
        margin-bottom: 20px;
        text-align: center;
    }
    .contact-info {
        border: 2px black solid;
        border-radius: 10px;
        background-color: #dddddd8e;
        width: 80%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }
    #facebookIcon {
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    #facebookIcon:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    .contact-info a {
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
    }
    p {
        font-size: 25px;
        margin-top: 5px;
        text-align: center;
        width: 80vw;
    }
    button {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 20vw;
        padding: 10px 20px;
        border-radius: 5px;
        background: rgba(213, 44, 44, 0.818);
        color: white;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }
    button:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
    #buttonOne {
        margin-right: 14vw;
    }
    footer {
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: rgba(255, 255, 255, 0.683);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 10px 0;
        color: black;
    }
    footer p {
        margin-bottom: 15px;
        font-size: 30px;
        margin-left: 10.5vw;
    }
}